.brandlogo{
	 width: 65px;
	 height: 65px;
	padding-left: 10px;
}
.logo{
	display: flex;
	grid-gap: 5px;
	background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 34%, rgba(0,36,36,1) 100%);
	place-items: center;
}
.cartlogo{
	width: 50px;
	height: 50px;
	padding-left: 2000%;
}

.flexbox {
	background-color:black;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .search {
	margin: 20px;
  }
  
  .search > h3 {
	font-weight: normal;
  }
  
  .search > h1,
  .search > h3 {
	color: white;
	margin-bottom: 15px;
	text-shadow: 0 1px #0091c2;
  }
  
  .search > div {
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 1px #0091c2);
  }
  
  .search > div:after {
	content: "";
	background: white;
	width: 4px;
	height: 20px;
	position: absolute;
	top: 40px;
	right: 2px;
	transform: rotate(135deg);
  }
  
  .search > div > input {
	color: white;
	font-size: 16px;
	background: transparent;
	width: 25px;
	height: 25px;
	padding: 10px;
	border: solid 3px white;
	outline: none;
	border-radius: 35px;
	transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
	color: #efefef;
	opacity: 0;
	transition: opacity 150ms ease-out;
  }
  
  .search > div > input:focus::placeholder {
	opacity: 1;
  }
  
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
	width: 250px;
  }



.navbar{
	display: flex;
	list-style-type: none;
	padding: 20px 20px;
}
.navbar > li a{
	text-decoration: none;
	padding: 10px 10px;
}
.wpbaner{
	width: 100%;
	height: 250px;
}


.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  position: relative;
  margin: auto;
  bottom: 8px;
  width: 100%;
  text-align: center
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




.baner{
	display: flex;
	background-color: lightblue;	
	place-items: center;
	gap: 100px;
}
.brandlogobaner{
	width: 140px;
	height: 140px;
	padding-left: 10px;
}
.whatsUpBaner{
	width: 250px;
	height: 150px;
	padding-left: 250px;
}
.paymentslogo{
	display: flex;
	width: 70px;
	height: 20px;
	grid-gap: 30px;
}



.slideshow img{
	width: 100%;
	height: 600px;
}
.Sign{
	display: flex;
	grid-gap: 100px;

}
.Signprocess img{
	width: 20px;
	height: 20px;
	border-radius: 75%;
}
.submitotp{
	width: 400px;
	height: 30px;
	background-color: aliceblue;

}
.socialmedia{
	display: flex;
	grid-gap: 50px;
	text-decoration: none;
	padding: 10px 10px;
	color: black;

}

.prescriptionpg{
	padding: 30px;
}

.pre2 {
	position: relative;
	overflow: hidden;
	display: flex;
	gap: 40px;
}
  
.uploadbtn {
	border: 2px solid lightblue;
	color:white;
	background-color: lightskyblue;
	padding: 20px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
}
  
.pre2 input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.uploadbtn img{
	width: 50px;
	height: 50px;
}

.pre3{
	display: flex;
	gap: 40px;
	text-indent: 30px;
	place-items: center;
	border: 1px solid black;
	padding: 10px;
}
.pre3 img{
	width: 70px;
	height: 70px;
}

.hiddeninput{
height: 20px;
background: transparent;
border: 0;
position: relative;
left: 0;
opacity: 0;
top: 0;
bottom: 0;
width: 100%;
z-index: 1;
}
.uppre{
	position: relative;
	border: 2px solid green;
	border-style:solid;
	padding: 50px;
}

.wpbtn {
	background-color:#3d94f6;
	border-radius:28px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.wpbtn:hover {
	background-color:#1e62d0;
}
.wpbtn:active {
	position:relative;
	top:1px;
}
.wpcontent{
	display: flex;
	gap: 50px;
	background-color:white;
	padding: 15px;
}
.wpframe{
	width: 370px;
	height: 700px;
	float: right;
}
.process{
	display: flex;
	gap: 50px;
}
.process img{
	width: 200px;
	height: 200px;
}
.vsms{
	display: flex;
	gap: 50px;
}
.vsms img{
	width: 550px;
	height: 450px;
}

.aboutpg{
	padding: 20px;
}

.cartpg{
	padding: 30px;
}
.cartcontent{
	display: flex;
	gap: 50px;
}
.cartbtn {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.cartbtn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.cartbtn:active {
	position:relative;
	top:1px;
}